.body {
  height: 100%;
}

.dynamic-sidebar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.grey-background {
  background: #444444;
}
.dynamic-sidebar-is-mobile .dynamic-sidebar-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.dynamic-sidebar-app-name {
  margin-left: 8px;
}

.dynamic-sidebar-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.dynamic-sidebar-is-mobile .dynamic-sidebar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.material-footer-bar {
  height: 25px;
}
footer.sticky-footer {
  width: 100%;
}

.sidebar {
  height: 100%;
  background-color: #ffffff;
  background-image: url("../../../assets/images/sidebar.png");
  background-repeat: no-repeat;
  overflow-scrolling: unset;
}

.search-card {
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.search-card-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.btn-green {
  background-color: green;
  border-color: green;
}



