<!-- Wrap the page in a container -->
<!-- <ng-container *ngIf="intro._currentstep == '1'; then changePage();"></ng-container> -->
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="text-muted">Welcome to Shmoozed seller tools!<br></h2>
      <p class="lead">Click the button below for an interactive guide on using the seller tools.</p>
      <p><a class="btn btn-outline-success my-2 my-sm-0" (click)="startIntro()" role="button">Start</a></p>
    </div>
  </div>
  <hr class="featurette-divider">
</div><!-- /.container -->
